<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booking - Multipurpose Online Booking Theme</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Booking - Multipurpose Online Booking Theme">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/bootstrap/images/favicon.ico">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/vendor/glightbox/css/glightbox.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/style.css">

</head>

<body class="dashboard">
<div th:replace="fragments/nav :: nav"></div>

<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Main content START -->
    <section class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-xl-8 mx-auto">

                    <div class="card shadow">
                        <!-- Image -->
                        <img src="/bootstrap/images/gallery/06.jpg" class="rounded-top" alt="">

                        <!-- Card body -->
                        <div class="card-body text-center p-4">
                            <!-- Title -->
                            <h1 class="card-title fs-3">🎊 Congratulations 🎊</h1>
                            <p class="lead mb-3">결제가 완료되었습니다</p>

                            <!-- Second title -->
                            <h5 class="text-primary mb-4">Go Travel을 이용해주셔서 감사합니다. 행복한 여행 되세요!</h5>

                            <!-- List -->
                            <div class="row justify-content-between text-start mb-4">
                                <div class="col-lg-5">
                                    <ul class="list-group list-group-borderless">
                                        <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                                            <span class="mb-0"><i class="bi bi-vr fa-fw me-2"></i>예약번호 : </span>
                                            <span class="h6 fw-normal mb-0">[[${rlist.rno}]]</span>
                                        </li>
                                        <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                                            <span class="mb-0"><i class="bi bi-person fa-fw me-2"></i>예약자 :</span>
                                            <span class="h6 fw-normal mb-0">[[${rlist.mem_name}]]</span>
                                        </li>
                                        <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                                            <span class="mb-0"><i class="bi bi-wallet2 fa-fw me-2"></i>결제 수단 :</span>
                                            <span class="h6 fw-normal mb-0">Credit card</span>
                                        </li>
                                        <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                                            <span class="mb-0"><i class="bi bi-currency-dollar fa-fw me-2"></i>결제 금액 :</span>
                                            <span class="h6 fw-normal mb-0">[[${#numbers.formatInteger(plist.pay_tot_price, 3, 'COMMA')}]] <i class="fa-solid fa-won-sign"></i></span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-lg-5">
                                    <ul class="list-group list-group-borderless">
                                        <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                                            <span class="mb-0"><i class="bi bi-calendar fa-fw me-2"></i>결제 일자 :</span>
                                            <span class="h6 fw-normal mb-0" th:text="${#dates.format(plist.pay_date, 'yyyy-MM-dd')}">29 July 2022</span>
                                        </li>
                                        <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                                            <span class="mb-0"><i class="bi bi-calendar fa-fw me-2"></i>출발 일자 :</span>
                                            <span class="h6 fw-normal mb-0" th:text="${#temporals.format(rlist.ar_from_date, 'yyyy-MM-dd')}">15 Aug 2022</span>
                                        </li>
                                        <li class="list-group-item d-sm-flex justify-content-between align-items-center">
                                            <span class="mb-0"><i class="fa-sharp fa-solid fa-plane-departure"></i>&nbsp;&nbsp;좌석 정보 :</span>
                                            <span class="h6 fw-normal mb-0">[[${rlist.agop_code}]]</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="d-sm-flex justify-content-sm-end d-grid">
                                <!-- Download button -->
                                <a href="#" class="btn btn-primary mb-0" th:onclick="|location.href='@{/reservation/bookingList/{rno}(rno=${list.rno})}'|">예약 상세</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Main content START -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<div th:replace="fragments/footer :: footer">
</div>
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="/bootstrap/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="/bootstrap/vendor/glightbox/js/glightbox.js"></script>

<!-- ThemeFunctions -->
<script src="/bootstrap/js/functions.js"></script>

</body>
</html>