<!DOCTYPE html>
<html lang="en">
<head>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>

    </script>
    <meta charset="UTF-8">
    <title>Sample Payment</title>
</head>
<body>
<div class="admin-content">
    <table>
        <thead>
        <tr>
            <th>결제번호</th>
            <th>예약번호</th>
            <th>회원번호</th>
            <th>총금액</th>
            <th>결제일자</th>
            <th>결제상태</th>
        </tr>
        </thead>
        <tr th:each="pl : ${payList}">
            <td th:text="${pl.pno}"></td>
            <td th:text="${pl.rno}"></td>
            <td th:text="${pl.mno}"></td>
            <td th:text="${pl.pay_tot_price}"></td>
            <td th:text="${pl.pay_date}"></td>
            <td th:text="${pl.pay_state}"></td>
            </td>
            <td>
            <!--a th:href="@{/order/payList/{pno}(pno=${pl.pno})}"-->
                <button type="button" th:onclick="|location.href='@{/order/payList/{pno}(pno=${pl.pno})}'|">결제취소</button>
            <!--/a-->
            </td>
        </tr>
    </table>
</div>
</body>
</html>