<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/payment :: payment">
</head>
<body class="dashboard">
<div th:replace="fragments/nav :: nav"></div>
<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
Main Content START -->
    <section class="pt-4 pt-lg-5">
        <div class="container">

            <div class="row g-4 g-xl-5">
                <!-- Left Content START -->
                <div class="col-xl-8">
                    <div class="card bg-transparent p-0">
                        <!-- Card header START -->
                        <div class="card-header bg-transparent p-0">
                            <h1 class="card-title fs-2 mb-0">결제를 완료해주세요!</h1>
                        </div>
                        <!-- Card header END -->

                        <!-- Card body START -->
                        <div class="card-body p-0 mt-3">
                            <!-- Alert box -->
                            <div class="alert alert-success" role="alert">
                                원하는 결제수단을 선택하신 뒤 <strong class="mx-1">Pay Now</strong>를 클릭해주세요!
                            </div>
                            <br>
                            <div class="bg-light rounded-3 p-4">
                                <!--결제 전 확인사항-->
                                <h3>결제 전 확인사항</h3>
                                <p>결제금액에 포함된 발권대행수수료는 항공권과 별도로 결제되며, 예약 당일 이후 취소 시 환불되지 않습니다.</p>
                                <p>결제 완료 후 정상 예약이 되지 않는 경우가 있습니다. 마이페이지에서 예약내역을 꼭 확인해주세요.</p>
                                <p style="color: red;">결제 완료 후에는 결제수단 변경이 불가합니다.</p>
                            </div>
                            <br>
                            <div class="bg-light rounded-3 p-4">
                                <!-- Card options -->
                                <div>
                                    <label><input type="radio" name="method" value="kcp" onchange="getselect(this)"/>신용카드</label>
                                    <label><input type="radio" name="method" value="kakaopay" onchange="getselect(this)"/> 카카오페이</label>
                                </div>
                                <br>
                                    <!-- Buttons -->
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 mb-0" onclick="requestPay()">Pay Now</button>
                                    </div>
                                <!-- Form END -->
                            </div>
                        </div>
                        <!-- Card body END -->
                    </div>
                </div>
                <!-- Left Content END -->

                <!-- Right content START -->
                <aside class="col-xl-4">
                    <div class="row g-4">
                        <!-- Fare summary START -->
                        <div class="col-md-6 col-xl-12">
                            <div class="card bg-light rounded-2">
                                <!-- card header -->
                                <div class="card-header border-bottom bg-light">
                                    <h5 class="card-title mb-0">결제 세부내역</h5>
                                </div>

                                <!-- Card body -->
                                <div class="card-body">
                                    <ul class="list-group list-group-borderless">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
										<span class="h6 fw-normal mb-0">항공요금</span>
                                            <span class="fs-5">[[${#numbers.formatInteger(list.arp_price * 0.9, 3, 'COMMA')}]]  <i class="fa-solid fa-won-sign"></i></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span class="h6 fw-normal mb-0">유류할증료</span>
                                            <span class="fs-5">[[${#numbers.formatInteger(list.arp_price * 0.1, 3, 'COMMA')}]]  <i class="fa-solid fa-won-sign"></i></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span class="h6 fw-normal mb-0">선택 수량</span>
                                            <span class="fs-5" th:text="${list.arp_count}"></span>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Card footer -->
                                <div class="card-footer border-top bg-light">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="h5 fw-normal mb-0">합계 금액</span>
                                        <span class="h5 fw-normal mb-0"> [[${#numbers.formatInteger(list.arp_price * list.arp_count, 3, 'COMMA')}]] <i class="fa-solid fa-won-sign"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fare summary END -->

                        <!-- Booking START -->
                        <div class="col-md-6 col-xl-12">
                            <div class="card border">
                                <!-- Card header -->
                                <div class="card-header border-bottom">
                                    <h5 class="mb-0 cardt-title">예약 내역</h5>
                                </div>

                                <!-- Card body -->
                                <div class="card-body">
                                    <!-- Flight detail -->
                                    <small><i class="bi bi-ticket me-2"></i>Flight Ticket</small>
                                    <div class="d-flex mt-2">
                                        <img src="/bootstrap/images/element/09.svg" class="w-40px me-2" alt="">
                                        <h6 class="fw-normal mb-0">[[${list.ar_from}]] <i class="fa-solid fa-right-left"></i> [[${list.ar_to}]]</h6>
                                    </div>
                                    <ul class="nav nav-divider small text-body mt-1 mb-0">
                                        <li class="nav-item" th:text="${#temporals.format(list.ar_from_date, 'yy년 MM월 dd일 HH:mm')}">25 Jan</li>
                                        <li class="nav-item" th:text="${list.agop_code}"></li>
                                    </ul>

                                    <hr> <!-- Divider -->

                                    <!-- Traveler detail -->
                                    <small><i class="bi bi-person me-1"></i>Traveler detail</small>
                                    <div th:each="listDetail : ${listDetail}">
                                        <h6 class="mb-0 fw-normal mt-2"><i class="fa-solid fa-user"></i> <strong class="mx-1">[[${listDetail.ko_name}]]</strong></h6>
                                    <ul class="nav nav-divider small text-body mt-1 mb-0">
                                        <li class="nav-item" >[[${listDetail.en_fname}]] [[${listDetail.en_lname}]]</li>
                                        <li class="nav-item" th:text="${listDetail.gender}">Female</li>
                                        <li class="nav-item" th:text="${#dates.format(listDetail.birth, 'yyyy-MM-dd')}">Dec-2-1990</li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Booking END -->
                    </div>
                </aside>
                <!-- Right content END -->
            </div>
        </div>
    </section>
    <!-- =======================
    Main Content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<div th:replace="fragments/footer :: footer">
</div>
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="/bootstrap/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- ThemeFunctions -->
<script src="/bootstrap/js/functions.js"></script>

</body>
</html>