<!DOCTYPE html>
<html lang="en">
<head>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>

    </script>
    <meta charset="UTF-8">
    <title>Sample Payment</title>
</head>
<body>
<div class="admin-content">
    회원
    <table>
        <thead>
        <tr>
            <th>예약번호</th>
            <th>항공번호</th>
            <th>회원번호</th>
            <th>수량</th>
            <th>금액</th>
            <th>예약날짜</th>
            <th>총금액</th>
        </tr>
        </thead>
        <tr th:each="rl : ${reservationList}">
            <td th:text="${rl.rno}"></td>
            <td th:text="${rl.ano}"></td>
            <td th:text="${rl.mno}"></td>
            <td th:text="${rl.arp_count}"></td>
            <td th:text="${rl.arp_price}"></td>
            <td th:text="${rl.arp_date}"></td>
            <td th:text="${rl.arp_count}*${rl.arp_price}"></td>
            </td>
            <td>
            <a th:href="@{/order/orderList/{rno}(rno=${rl.rno})}">
                <button type="button">결제하기</button>
            </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>