<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/refund :: refund">
</head>
<body class="dashboard">
<div th:replace="fragments/nav :: nav"></div>
<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
Main Content START -->
    <section class="pt-4 pt-lg-5">
        <div class="container">

            <div class="row g-4 g-xl-5">
                <!-- Left Content START -->
                <div class="col-xl-8">
                    <div class="card bg-transparent p-0">
                        <!-- Card header START -->
                        <div class="card-header bg-transparent p-0">
                            <h1 class="card-title fs-2 mb-0">정말 환불하실건가요?</h1>
                        </div>
                        <!-- Card header END -->

                        <!-- Card body START -->
                        <div class="card-body p-0 mt-3">
                            <!-- Alert box -->
                            <div class="alert alert-success" role="alert">
                                <strong class="mx-1">환불 전 확인사항</strong>을 꼼꼼히 읽어보신 뒤 환불사유를 선택하고 Refund Now를 클릭해주세요!
                            </div>
                            <br>
                            <div class="bg-light rounded-3 p-4">
                                <!--결제 전 확인사항-->
                                <h3>환불 전 확인사항</h3>
                                <p>결제 후 환불시 해당 항공사의 환불 정책에 따라 수수료가 부과됩니다.</p>
                                <p>천재지변, 기상악화 또는 항공사 사정에 의한 결항 및 스케쥴 변경의 경우 취소 수수료가 발생하지 않습니다.</p>
                                <p>단, 당사 마이페이지를 통하여 취소시 수수료가 자동 부과되오니, 반드시 당사 Q&A 게시판 요청 또는 각 항공사로 취소 요청을 해주시기 바랍니다.</p>
                                <p>환불정보는 카드결제의 경우 카드사로 확인까지 7~10일 정도 소요되며, 카드결제일에 따라 신용카드 대금이 청구될 수도 있습니다.</p>
                                <p style="color: red;">결제 환불 후에는 취소가 불가합니다.</p>
                            </div>
                            <br>
                            <div class="bg-light rounded-3 p-4">
                                <!-- Card options -->
                                <div>
                                    <label><input type="radio" name="method" value="단순변심" onchange="getselect(this)"/>단순변심</label>
                                    <label><input type="radio" name="method" value="취소 후 재구매" onchange="getselect(this)"/>취소 후 재구매</label>
                                    <label><input type="radio" name="method" value="항공편 결항" onchange="getselect(this)"/>항공편 결항</label>
                                    <label><input type="radio" name="method" value="기타" onchange="getselect(this)"/>기타</label>
                                </div>
                                <br>
                                    <!-- Buttons -->
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 mb-0" onclick="refundPay()">Refund Now</button>
                                    </div>
                                <!-- Form END -->
                            </div>
                        </div>
                        <!-- Card body END -->
                    </div>
                </div>
                <!-- Left Content END -->

                <!-- Right content START -->
                <aside class="col-xl-4">
                    <div class="row g-4">
                        <!-- Fare summary START -->
                        <div class="col-md-6 col-xl-12">
                            <div class="card bg-light rounded-2">
                                <!-- card header -->
                                <div class="card-header border-bottom bg-light">
                                    <h5 class="card-title mb-0">환불 세부내역</h5>
                                </div>

                                <!-- Card body -->
                                <div class="card-body">
                                    <ul class="list-group list-group-borderless">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
										<span class="h6 fw-normal mb-0">결제요금</span>
                                            <span class="fs-5">[[${#numbers.formatInteger(plist.pay_tot_price, 3, 'COMMA')}]]<i class="fa-solid fa-won-sign"></i></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span class="h6 fw-normal mb-0">구매대행 수수료</span>
                                            <span class="fs-5 text-danger">-[[${#numbers.formatInteger(rlist.arp_count*2000, 3, 'COMMA')}]]<i class="fa-solid fa-won-sign"></i></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span class="h6 fw-normal mb-0">항공사 수수료</span>
                                            <span class="fs-5 text-danger">-[[${#numbers.formatInteger(rlist.arp_count*3000, 3, 'COMMA')}]]<i class="fa-solid fa-won-sign"></i></span>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Card footer -->
                                <div class="card-footer border-top bg-light">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="h5 fw-normal mb-0">합계 금액</span>
                                        <span class="h5 fw-normal mb-0">[[${#numbers.formatInteger(plist.pay_tot_price-(rlist.arp_count*2000)-(rlist.arp_count*3000), 3, 'COMMA')}]]<i class="fa-solid fa-won-sign"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fare summary END -->

                        <!-- Booking START -->
                        <div class="col-md-6 col-xl-12">
                            <div class="card border">
                                <!-- Card header -->
                                <div class="card-header border-bottom">
                                    <h5 class="mb-0 cardt-title">예약 내역</h5>
                                </div>

                                <!-- Card body -->
                                <div class="card-body">
                                    <!-- Flight detail -->
                                    <small><i class="bi bi-ticket me-2"></i>Flight Ticket</small>
                                    <div class="d-flex mt-2">
                                        <img src="/bootstrap/images/element/09.svg" class="w-40px me-2" alt="">
                                        <h6 class="fw-normal mb-0">[[${rlist.ar_from}]] <i class="fa-solid fa-right-left"></i> [[${rlist.ar_to}]]</h6>
                                    </div>
                                    <ul class="nav nav-divider small text-body mt-1 mb-0">
                                        <li class="nav-item" th:text="${#temporals.format(rlist.ar_from_date, 'yy년 MM월 dd일 HH:mm')}">25 Jan</li>
                                        <li class="nav-item" th:text="${rlist.agop_code}"></li>
                                    </ul>

                                    <hr> <!-- Divider -->

                                    <!-- Traveler detail -->
                                    <small><i class="bi bi-person me-1"></i>Traveler detail</small>
                                    <div th:each="rdtlist : ${rdtlist}">
                                        <h6 class="mb-0 fw-normal mt-2"><i class="fa-solid fa-user"></i> <strong class="mx-1">[[${rdtlist.ko_name}]]</strong></h6>
                                        <ul class="nav nav-divider small text-body mt-1 mb-0">
                                            <li class="nav-item" >[[${rdtlist.en_fname}]] [[${rdtlist.en_lname}]]</li>
                                            <li class="nav-item" th:text="${rdtlist.gender}">Female</li>
                                            <li class="nav-item" th:text="${#dates.format(rdtlist.birth, 'yyyy-MM-dd')}">Dec-2-1990</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Booking END -->
                    </div>
                </aside>
                <!-- Right content END -->
            </div>
        </div>
    </section>
    <!-- =======================
    Main Content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<div th:replace="fragments/footer :: footer">
</div>
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="/bootstrap/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- ThemeFunctions -->
<script src="/bootstrap/js/functions.js"></script>

</body>
</html>