<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/script :: script"></div><!-- Bootstrap JS -->

    <link rel="stylesheet" type="text/css" href="/bootstrap/vendor/tiny-slider/tiny-slider.css">

</head>
<style>
    .layout {
        width: 700px;
        margin: 0 auto;
        margin-top: 40px;
    }
    .admin-button {
        text-align: center;
    }
    .admin-button button {
        margin-top: 20px ;
        margin-bottom: 40px;
        display: inline-block;
    }
</style>

<body>
<div th:replace="fragments/nav :: nav">
</div>

<div class="layout">

    <hr>
        <h4 th:text="${board.n_title}" style="text-align: center"></h4>
    <hr>
        <p th:text="${board.n_content}"></p>
    <img  th:src="@{${board.n_filepath}}" th:if="${board.n_filepath != null}" style="width: inherit; width:100%; margin-bottom: 50px"/>
        <div class="admin-button">
            <a th:href="@{/notice/list/update/{nno}(nno=${board.nno})}" sec:authorize="hasRole('[ADMIN]')"><button class="btn btn-secondary-soft">게시글 수정</button></a>
            <a th:href="@{/notice/list/delete(nno=${board.nno})}" sec:authorize="hasRole('[ADMIN]')"><button class="btn btn-secondary-soft">게시글 삭제</button></a>
        </div>
</div>

<div th:replace="fragments/footer :: footer">
</div>
<script src="/bootstrap/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="/bootstrap/vendor/tiny-slider/tiny-slider.js"></script>
<script src="/bootstrap/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>

<!-- ThemeFunctions -->
<script src="/bootstrap/js/functions.js"></script>
</body>


</html>