
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/admin-fragments/script :: script">

</head>
<style>
        .layout {
                width: 500px;
                margin: 0 auto;
                margin-top: 40px;
        }
        .layout a{
            color: #333;
        }

</style>

<body class="flex">
<div th:replace="admin/admin-fragments/nav :: nav">
</div>
    <div class="layout">
       <table>
           <thead>
               <tr>
                  <th>글번호</th>
                  <th>제목</th>
                  <th>썸네일</th>
               </tr>
           </thead>
           <tbody>
               <tr th:each="noticeDTO : ${list}">
                   <th th:text="${noticeDTO.nno}"></th>
                   <th>
                       <a th:text="${noticeDTO.title}" th:href="@{/notice/list/detail(nno=${noticeDTO.nno})}"></a>
                   </th>
                   <th>
                       <img th:src="@{${noticeDTO.filepath}}" style="width: 300px; height:300px;"/>
                   </th>
               </tr>
           </tbody>
       </table>
    </div>



</body>


</html>