<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/admin-fragments/script :: script">

</head>
<style>
    .layout {
        width: 700px;
        margin: 0 auto;
        margin-top: 40px;
    }
    .layout input{
        width: 500px;
        box-sizing: border-box;
    }
    .layout textarea {
        width: 500px;
        margin-top: 10px;
        min-height: 300px;
    }
</style>

<body class="flex">
<div th:replace="admin/admin-fragments/nav :: nav" >
</div>
<div class="layout">
    <form action="/notice/write" method="post" enctype="multipart/form-data">
        <p>제목</p><input name="n_title" type="text" /><br>
        <p>내용</p><textarea name="n_content"></textarea><br>
        <input type="file" name="file"><br>
        <button type="submit" style="margin-right: 10px">작성</button>
    </form>
</div>

</body>

</html>