<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="AirportDTO" type="go.travel.dnh.domain.air.AirportDTO"/>
        <typeAlias alias="AirlineDTO" type="go.travel.dnh.domain.air.AirlineDTO"/>
        <typeAlias alias="AirGradeOptionDTO" type="go.travel.dnh.domain.air.AirGradeOptionDTO"/>
        <typeAlias alias="AirGradeOptionDTO" type="go.travel.dnh.domain.air.AirGradeOptionDTO"/>
        <typeAlias alias="AirProductDTO" type="go.travel.dnh.domain.air.AirProductDTO"/>
        <typeAlias alias="SearchDTO" type="go.travel.dnh.domain.air.SearchDTO"/>
        <typeAlias alias="AirReservationDTO" type="go.travel.dnh.domain.reservation.AirReservationDTO"/>
        <typeAlias alias="MemberDTO" type="go.travel.dnh.domain.member.MemberDTO"/>
        <typeAlias alias="LoginUser" type="go.travel.dnh.domain.User.LoginUser"/>
        <typeAlias alias="SocialUser" type="go.travel.dnh.domain.User.SocialUser"/>
        <typeAlias alias="PayDTO" type="go.travel.dnh.domain.pay.PayDTO"/>
    </typeAliases>
</configuration>

