
<div th:fragment="nav" id="admin-nav">

  <!-- 메뉴 영역입니다 -->
    <ul>
      <li>
        <a href="/admin/main">관리자 메인</a>
      </li>
    </ul>
    <ul>
      <p>회원관리</p>
      <li>
        <a href="/admin/memberList">회원목록</a>
      </li>
    </ul>
    <ul>
      <p>예약관리</p>
      <li>
        <a href="/order/orderList">예약목록</a>
      </li>
    </ul>
    <ul>
      <p>항공권 상품관리</p>
      <li>
      <a href="/admin/airWrite">항공권 등록</a>
      </li>
      <li>
      <a href="/admin/airlist">상품목록</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/notice/list">공지목록</a>
      </li>
      <li>
        <a href="/notice/write">공지등록</a>
      </li>

    </ul>
    <ul>
      <li>
      <a href="/">홈페이지로 돌아가기</a>
      </li>
      <li>
      <a href="/logout">로그아웃</a>
      </li>
    </ul>
</div>