<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/joinScript :: joinScript">

</head>
<body>
<div class="container">
    <div class="py-5 text-center"> <h2>회원 가입</h2>
    </div>
    <h4 class="mb-3">회원 정보 입력</h4>
    <form action="" th:action th:object="${memberDTO}" method="post">
        <div>
            <label for="mem_id">로그인 Email</label>
            <input type="text" id="mem_id" th:field="*{mem_id}" class="form-control" oninput="checkId()">
            <span class="mail_check_button" onclick='EmailSend()'>인증번호 전송</span><br>
            <span class="id_already">이미 존재하는 이메일입니다.</span>
            <span class="idChk_msg"></span>
        </div>
        <div>
            <label>Email 인증번호</label>
            <input class="mail_check_input" disabled="disabled">
            <span class="mailChkmsg"></span>
        </div>
        <div>
            <label for="mem_pwd">비밀번호</label>
            <input type="password" name="mem_pwd" id="mem_pwd" th:field="*{mem_pwd}" class="form-control">
            <span class="pwdChk_msg"></span>
        </div>
        <div>
            <label for="mem_pwd_check">비밀번호 확인</label>
            <input type="password" id="mem_pwd_check" class="form-control" oninput="checkPwd()">
            <span class="pwdCorrectChk_msg"></span>
        </div>
        <div>
            <label for="mem_name">이름</label>
            <input type="text" id="mem_name" th:field="*{mem_name}" class="form-control">
            <span class="nameChk_msg"></span>
        </div>
        <div>
            <label for="mem_phone">전화번호</label>
            <input type="text" id="mem_phone" th:field="*{mem_phone}" class="form-control" placeholder="01012345678">
            <span class="phoneChk_msg"></span>
        </div>
        <div class="gender-chk"> 성별
            <label><input type="radio" checked="checked" name="mem_gender" value="남"/>남</label>
            <label><input type="radio" name="mem_gender" value="여"/>녀</label>
        </div>
        <div>
            <label for="mem_birth">생년월일</label>
            <input type="text" id="mem_birth" th:field="*{mem_birth}" class="form-control" placeholder="1900-01-01">
            <span class="birthChk_msg"></span>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <input type="submit" value="회원가입" onclick="return check()"></input>
            </div>
        </div>
    </form>
    <button class=pwdFind type="button"
            th:onclick="|location.href='@{/member/find}'|">
        비밀번호 찾기
    </button>
</div> <!-- /container -->
</body>
</html>