<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
  <div>
    <form action="/login" method="post">
      <ul>
        <li>
          <input type="text" name="email" placeholder="이메일 입력">
        </li>
        <li>
          <input type="password" name="pass" placeholder="비밀번호 입력">
        </li>
        <li>
          <button type="submit">로그인</button>
        </li>
      </ul>
      <hr>
        <ul>
          <li>
            <a href="/">회원가입</a>
          </li>
          <li>
            <a href="/">아이디 찾기</a>
          </li>
          <li>
            <a href="/">비밀번호 찾기</a>
          </li>
        </ul>
      <hr>
      <ul>
        <li>
          <a href="/">Google</a>
        </li>
        <li>
          <a href="/">Naver</a>
        </li>
        <li>
          <a href="/">Kakao</a>
        </li>
      </ul>
    </form>
  </div>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
  <div>
    <form action="/login" method="post">
      <ul>
        <li>
          <input type="text" name="email" placeholder="이메일 입력">
        </li>
        <li>
          <input type="password" name="pass" placeholder="비밀번호 입력">
        </li>
        <li>
          <button type="submit">로그인</button>
        </li>
      </ul>
      <hr>
        <ul>
          <li>
            <a href="/">회원가입</a>
          </li>
          <li>
            <a href="/">아이디 찾기</a>
          </li>
          <li>
            <a href="/">비밀번호 찾기</a>
          </li>
        </ul>
      <hr>
      <ul>
        <li>
          <a href="/">Google</a>
        </li>
        <li>
          <a href="/">Naver</a>
        </li>
        <li>
          <a href="/">Kakao</a>
        </li>
      </ul>
    </form>
  </div>
</body>
</html>