<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/pwdFindScript :: pwdFindScript">

</head>
<body>
<div class="container">
    <div class="py-5 text-center"> <h2>비밀번호 찾기</h2>
    </div>
    <form action="" th:action method="post">
        <div style="color: #ac2925">
            <center>입력된 정보로 임시 비밀번호가 전송됩니다.</center></div>
        <center>
            <div class="form-group">
                 email
                <input type="text" class="find_mem_id" name="mem_id" placeholder="가입시 등록한 이메일을 입력하세요.">
            </div>
            <button type="button" id="findpwd" onclick='return EmailSend()'>OK</button>
        </center>
    </form>
</div> <!-- /container -->
</body>
</html>