<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="joinScript">
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Booking - Multipurpose Online Booking Theme">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
        .id_already {
            color: red;
            display: none;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script th:inline="javascript" >
        let cntcheck = 0;
        let idCheck = false;
        let pwdCheck = false;
        /*<![CDATA[*/

        //인증번호 전송 메서드
        function EmailSend() {

            let mem_id =  $('#mem_id').val();
            let input = $("#mail_check_input");
            let idChkMsg = $('.idChk_msg');
            let mem_idPattern = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i

            if((cntcheck==1)){
                return false;
            }

            if(!mem_idPattern.test(mem_id)){
                idChkMsg.html("올바른 이메일 형식을 입력해주세요.");
                return false;
            }else{
                idChkMsg.css("display", "none");
            }

            $.ajax({
                type:'post',
                data:{mem_id:mem_id},
                url:"/member/mailCheck",
                success:function(){
                    input.attr("disabled",false);
                    input.attr("oninput","mailNumCheck()");
                }
            });
            $('#mem_id').attr("readonly",true);
        }; //EmailSend() 메서드 종료

        //이메일 인증번호 확인 메서드
        function mailNumCheck(){
            let checkInput = $("#mail_check_input").val();        // 사용자가 입력한 코드
            let warn = $(".mailChkmsg");          // 비교 결과

            $.ajax({
                url: "emailNumCheck", //Controller에서 요청 받을 주소
                type:'post', //POST 방식으로 전달
                data:{checkInput:checkInput},
                success:function(result){
                    if(result === 1){
                        warn.html("인증번호가 일치합니다.");
                        idCheck=true;
                    } else {
                        warn.html("인증번호를 다시 확인해주세요.");
                    }
                },
                error:function(){
                    alert("에러입니다");
                }
            });
        }; //mailNumCheck 마무리

        //이메일 중복 체크 메서드
        function checkId() {
            let mem = $('#mem_id').val();

            if(mem=='') {
                $('.id_already').css("display", "none");
                return false;
            }

            $.ajax({
                url: "/member/idCheck", //Controller에서 요청 받을 주소
                type: 'post', //POST 방식으로 전달
                data: {mem_id: mem},
                success: function (cnt) { //컨트롤러에서 넘어온 cnt값을 받는다
                    if (cnt == 1) { //cnt가 1이 아니면(=0일 경우) -> 사용 가능한 아이디
                        $('.id_already').css("display","inline-block");
                    } else {
                        $('.id_already').css("display", "none");
                    } cntcheck = cnt;
                }, error: function () {
                    alert("에러입니다");
                }
            });
        }; //checkId() 메서드 종료

        //비밀번호 확인 메서드
        function checkPwd(){
            let pwd = $('#psw-input').val(); //비밀번호 입력값
            let pwdChk = $('#mem_pwd_check').val(); //비밀번호 확인 값
            let pwdCorrectChk = $('.pwdCorrectChk_msg');

            if(pwd == pwdChk){
                pwdCorrectChk.html("비밀번호가 일치합니다.");
                pwdCheck=true;
            }else if(pwd != pwdChk){
                pwdCorrectChk.html("비밀번호가 일치하지 않습니다.");
            }
        }; //checkPwd() 메서드 종료

        //전체 유효성 검사 메서드
        function check(){
            //생년월일 정규식 체크
            let birth = $('#mem_birth').val();
            let birthPattern = /^(19[0-9][0-9]|20\d{2})-(0[0-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/
            let birthChkMsg = $('.birthChk_msg');

            let name = $('#mem_name').val();
            let namePattern = /^[가-힣]{2,5}$/
            let nameChkMsg = $('.nameChk_msg');

            let phone = $('#mem_phone').val();
            let phonePattern = /^[0-9]{10,11}$/
            let phoneChkMsg = $('.phoneChk_msg');

            if(!namePattern.test(name)){
                nameChkMsg.html("이름은 2~5글자의 한글로 입력해주세요.");
                return false;
            } else {
                nameChkMsg.css("display", "none");
            }

            if(!phonePattern.test(phone)){
                phoneChkMsg.html("전화번호는 10~11 길이의 숫자로 입력해주세요.");
                return false;
            } else {
                phoneChkMsg.css("display", "none");
            }

            if(!birthPattern.test(birth)){
                birthChkMsg.html("생년월일을 형식에 맞게 입력해주세요. ex) 1900-01-01");
                return false;
            } else {
                birthChkMsg.css("display", "none");
            }

            if((idCheck==false)||(pwdCheck==false)){
                return false;
            }
        }; //check()메서드 종료

        /*]]>*/
    </script>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/bootstrap/images/favicon.ico">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/vendor/bootstrap-icons/bootstrap-icons.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/style.css">
</head>

</html>