<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="logincript">
  <meta charset="UTF-8">

  <!-- 여기에 공통 적용할 css 및 js 등등 입력하면 됩니다-->
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script th:inline="javascript" >
          function LoginSend() {
          var mem_id = $('#mem_id').val();
          var mem_pwd = $('#mem_pwd').val();

          $.ajax({
          type:'post',
          contentType: 'application/json',
          data : JSON.stringify({"mem_id":mem_id,"mem_pwd":mem_pwd}),
          url:"/login/login",
          processData : false,
          success: function (TokenInfo) {
          if(TokenInfo==null) {
          warn.html("아이디 또는 비밀번호가 틀렸습니다.")
        } else {
          console.log(TokenInfo);
          window.location.replace("index.html")
        }
        }
        })
        };
          function clickTest() {
          const mem_id = $('#mem_id').val();
          const mem_pwd = $('#mem_pwd').val();
          console.log(mem_id, mem_pwd);
        };

  </script>
</head>

</html>