
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/admin-fragments/script :: script">

</head>

<body class="flex">

<div th:replace="admin/admin-fragments/nav :: nav">
</div>


<div class="admin-content">
    <h1>항공권 상품등록</h1>
    <form th:action="@{/admin/airWrite}" method="post">
        <ul>
            <li>
                <label>항공사 코드</label>
                <input type="text" name="al_code">
            </li>
            <li>
                <label>출발공항 코드</label>
                <input type="text" name="ar_from">
            </li>
            <li>
                <label>도착공항 코드</label>
                <input type="text" name="ar_to">
            </li>
            <li>
                <label>편명</label>
                <input type="text" name="ar_fl_no">
            </li>
            <li>
                <label>출발시간</label>
                <input type="text" name="ar_from_date">
            </li>
            <li>
                <label>소요시간</label>
                <input type="text" name="ar_time">
            </li>
            <li>
                <label>가격</label>
                <input type="text" name="ar_price">
            </li>
            <li>
                <label>판매수량</label>
                <input type="text" name="ar_cnt">
            </li>
            <li>
                <label>판매상태</label>
                <input type="text" name="ar_sales_state">
            </li>
            <li>
                <button type="submit">저장하기</button>
            </li>
        </ul>
    </form>
</div>


</body>


</html>





