
.flex{display: flex;}
.row{flex-direction: row;}
.column{flex-direction: column;}
.center{justify-content: center;}
.between{justify-content: space-between;}
.around{justify-content: space-around;}
.start{justify-content: flex-start;}
.end{justify-content: flex-end;}

li{list-style: none;}
a{text-decoration: none;}


.view-size{width: 1080px; margin: 0 auto;}

body>.admin-content{
    padding-left: 20px;
    padding-top: 40px;
}
