
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/admin-fragments/script :: script">

</head>

<body class="flex">
<div th:replace="admin/admin-fragments/nav :: nav">
</div>


<div class="admin-content">
    회원
    <table>
        <thead>
        <tr>
            <th>회원번호</th>
            <th>회원ID</th>
            <th>회원PWD</th>
            <th>회원이름</th>
            <th>회원전화번호</th>
            <th>회원성별</th>
            <th>회원생년월일</th>
            <th>회원등록일</th>
        </tr>
        </thead>
        <tr th:each="ml : ${memberList}">
            <td th:text="${ml.mno}"></td>
            <td th:text="${ml.mem_id}"></td>
            <td th:text="${ml.mem_pwd}"></td>
            <td th:text="${ml.mem_name}"></td>
            <td th:text="${ml.mem_phone}"></td>
            <td th:text="${ml.mem_gender}"></td>
            <td th:text="${ml.mem_birth}"></td>
            <td th:text="${ml.mem_in_date}"></td>
            </td>
        </tr>
    </table>
</div>


</body>


</html>