
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/admin-fragments/script :: script">

</head>
<style>
    table, tr {
        width:1000px;
        height:35px;
    }
</style>
<body class="flex">
<div th:replace="admin/admin-fragments/nav :: nav">
</div>


<div class="admin-content">
    <table>
        <thead>
        <tr>
            <th>회원번호</th>
            <th>회원ID</th>
            <th>회원이름</th>
            <th>회원전화번호</th>
            <th>회원성별</th>
            <th>회원생년월일</th>
            <th>회원등록일</th>
            <th>회원등급</th>
        </tr>
        </thead>
        <tr th:each="ml : ${memberList}">
            <td th:text="${ml.mno}"></td>
            <td th:text="${ml.mem_id}"></td>
            <td th:text="${ml.mem_name}"></td>
            <td th:text="${ml.mem_phone}"></td>
            <td th:text="${ml.mem_gender}"></td>
            <td th:text="${#dates.format(ml.mem_birth, 'yyyy-MM-dd')}"></td>
            <td th:text="${#temporals.format(ml.mem_in_date, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${ml.role_set}"></td>
            </td>
            <td>
                <a th:href="@{/admin/memberList/{mno}(mno=${ml.mno})}">
                    <button type="button">변경</button>
                </a>
            </td>
        </tr>
    </table>
</div>


</body>


</html>