<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="fragments/script :: script">

    </div>
<!--    <meta name="_csrf" th:content="${_csrf.token}"/>-->
<!--    &lt;!&ndash; default header name is X-CSRF-TOKEN &ndash;&gt;-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->

</head>

<body>
<div th:replace="fragments/nav :: nav">
</div>

<div style="text-align: center;">
    <h1>광기의 3인 프로젝트</h1>
    <img style="width: 600px;" src="https://item.kakaocdn.net/do/dd733898eca7906638478893abfe6a038f324a0b9c48f77dbce3a43bd11ce785">
</div>

<div th:replace="fragments/footer :: footer">
</div>

</body>


</html>

