<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="fragments/script :: script">

    </div>
    <link rel="stylesheet" type="text/css" href="/bootstrap/vendor/tiny-slider/tiny-slider.css">
<!--    <meta name="_csrf" th:content="${_csrf.token}"/>-->
<!--    &lt;!&ndash; default header name is X-CSRF-TOKEN &ndash;&gt;-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <style>
        .information {
            width: 600px;
            height: 180px;
            margin: 0 auto;
            text-align: center;
        }
        .information-list ul:hover {
            color: #3d32a3;
            transition: 0.3s;
        }
        .tns-controls {
            display: none;
        }
    </style>
</head>

<body>
<!-- Slider START -->
<div class="tiny-slider" style="margin: 10px auto 0 auto; width: 600px; height: 25px;text-align: center">
    <div class="tiny-slider-inner" data-autoplay="true"  data-edge="2" data-dots="false" data-items-xl="1" data-items-lg="1" data-items-md="1">
        <ul th:each="noticeDTO : ${response.getList()}" th:if="${noticeDTO.nno > 218}" >
            <li style="list-style: none; color:#333; font-size:18px; text-align: center">
                <i class="bi bi-chat-right-dots"></i>  <a th:text="${noticeDTO.n_title}" th:href="@{/notice/list/detail(nno=${noticeDTO.nno})}" style="margin: 0 auto;text-decoration: none;color:#333;"></a>
            </li>
        </ul>
    </div>
</div>
<div th:replace="fragments/nav :: nav">
</div>

</div>
<div style="text-align: center;">
    <h1>광기의 3인 프로젝트</h1>
    <img style="width: 600px;" src="https://item.kakaocdn.net/do/dd733898eca7906638478893abfe6a038f324a0b9c48f77dbce3a43bd11ce785">
</div>
<section class="pt-0 pt-lg-5">
    <div class="container">

        <!-- Title -->
        <div class="row mb-4" >
            <div style="text-align: center">
                <h4>봄~🌸봄~🌸봄~🌸 봄이왔어요~💐</h4>
                <h5 style="color: #333333">당일치기도 괜찮아요! 봄이면 무조건 가야되는 국내 추천 관광지!</h5>
            </div>
        </div>

        <div class="row g-4">
            <!-- Destination item START -->
            <div class="col-sm-6 col-lg-3">
                <!-- Card START -->
                <div class="card card-img-scale overflow-hidden bg-transparent" >
                    <!-- Image -->
                    <div class="card-img-scale-wrapper rounded-3" style="position: relative" >
                        <img src="/files/485edcee-3511-4a9b-8607-3a7766c8abcb_제주도 유채꽃.jpeg.crdownload" class="card-img" >
                    </div>

                    <!-- Card body -->
                    <div class="card-body px-2">
                        <!-- Title -->
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title"><a href="" class="stretched-link">제주도</a></h5>
                            <h6 class="mb-0">4.3<i class="fas fa-star text-warning ms-1"></i></h6>
                        </div>
                        <!-- Content -->
                        <p class="mb-0">지금이 바로 개화시기에요!</p>
                        <p class="mb-0">제주도 유채꽃밭에서 인생샷 어때요?</p>
                    </div>
                </div>
            </div>
            <!-- Card END -->

            <!-- Destination item END -->

            <!-- Destination item START -->
            <div class="col-sm-6 col-lg-3">
                <!-- Card START -->
                <div class="card card-img-scale overflow-hidden bg-transparent"  >
                    <!-- Image -->
                    <div class="card-img-scale-wrapper rounded-3">
                        <img src="/files/671fc180-2cd7-4993-8c1e-d24fcf2b7094_경주.webp" class="card-img" alt="" >
                    </div>


                    <!-- Card body -->
                    <div class="card-body px-2">
                        <!-- Title -->
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title"><a href="" class="stretched-link">경주</a></h5>
                            <h6 class="mb-0">4.6<i class="fas fa-star text-warning ms-1"></i></h6>
                        </div>
                        <!-- Content -->
                        <p class="mb-0">고즈넉한 분위기와 함께 하는</p>
                        <p class="mb-0">문화유적지가 가득한 경주</p>

                    </div>
                </div>
                <!-- Card END -->
            </div>
            <!-- Destination item END -->

            <!-- Destination item START -->
            <div class="col-sm-6 col-lg-3">
                <!-- Card START -->
                <div class="card card-img-scale overflow-hidden bg-transparent">

                    <!-- Image -->
                    <div class="card-img-scale-wrapper rounded-3">
                        <img src="/files/51bb8916-5e19-484f-8d8d-db4241a10d09_여수.jpeg" class="card-img" alt="hotel image">
                    </div>

                    <!-- Card body -->
                    <div class="card-body px-2">
                        <!-- Title -->
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title"><a href="" class="stretched-link">여수</a></h5>
                            <h6 class="mb-0">4.3<i class="fas fa-star text-warning ms-1"></i></h6>
                        </div>
                        <!-- Content -->
                        <p class="mb-0">여~수 밤바다~ </p>
                        <p class="mb-0">연인과 함께 걷기 좋은 여수</p>

                    </div>
                </div>
                <!-- Card END -->
            </div>
            <!-- Destination item END -->

            <!-- Destination item START -->
            <div class="col-sm-6 col-lg-3">
                <!-- Card START -->
                <div class="card card-img-scale overflow-hidden bg-transparent">
                    <!-- Image -->
                    <div class="card-img-scale-wrapper rounded-3">
                        <img src="/files/d0651b59-0c65-40e6-b9a8-277e5125aa1c_부산.jpeg" class="card-img" alt="">
                    </div>

                    <!-- Card body -->
                    <div class="card-body px-2">
                        <!-- Title -->
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title"><a href="" class="stretched-link">부산</a></h5>
                            <h6 class="mb-0">4.3<i class="fas fa-star text-warning ms-1"></i></h6>
                        </div>
                        <!-- Content -->
                        <p class="mb-0">마! 바다하면 부산아이가!</p>
                        <p class="mb-0">맛집가득 바다가 예쁜 부산은 어때요?</p>
                        </div>
                    </div>
                <!-- Card END -->
                </div>
            <!-- Destination item END -->
        </div> <!-- Row END -->
    </div>
</section>

<div th:replace="fragments/footer :: footer">
</div>
<script src="/bootstrap/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="/bootstrap/vendor/tiny-slider/tiny-slider.js"></script>
<script src="/bootstrap/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>

<!-- ThemeFunctions -->
<script src="/bootstrap/js/functions.js"></script>
</body>


</html>

