<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <!-- 여기에 공통 적용할 css 및 js 등등 입력하면 됩니다-->
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>

<body>
<div th:replace="fragments/nav :: nav">
</div>

<div>

    <form action="/login" method="post">
    <ul>
      <li>
        <input type="text" id="mem_id" name="username" placeholder="이메일 입력">
      </li>
      <li>
        <input type="password" name="password" id="mem_pwd"  placeholder="비밀번호 입력">
      </li>
        <div>
            <p id="valid" style="color: red; font-size:12px;"><a th:text="${exception}"></a></p>
        </div>
      <li>
        <button type="submit" >로그인</button>
      </li>
    </ul>
    <hr>
    <ul>
      <li>
        <a href="/">회원가입</a>
      </li>
      <li>
        <a href="/">아이디 찾기</a>
      </li>
      <li>
        <a href="/">비밀번호 찾기</a>
      </li>
    </ul>
    <hr>
    <ul>
      <li>
        <a href="/oauth2/authorization/google">Google</a>
      </li>
      <li>
        <a href="/oauth2/authorization/naver">Naver</a>
      </li>
      <li>
        <a href="/oauth2/authorization/kakao">Kakao</a>
      </li>
    </ul>
    </form>
</div>

<div th:replace="fragments/footer :: footer">
</div>

</body>


</html>

