<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 여기에 공통 적용할 css 및 js 등등 입력하면 됩니다-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        function checkPwd(){
            let pwd = $('#mem_pwd').val(); //비밀번호 입력값
            let pwdChk = $('#mem_pwd_check').val(); //비밀번호 확인 값
            let pwdCorrectChk = $('.pwdCorrectChk_msg');

            if(pwd == pwdChk){
                pwdCorrectChk.html("비밀번호가 일치합니다.");
                pwdCheck=true;
            }else if(pwd != pwdChk){
                pwdCorrectChk.html("비밀번호가 일치하지 않습니다.");
            }
        }; //checkPwd() 메서드 종료
        function check(){
            let phone = $('#mem_phone').val();
            let phonePattern = /^[0-9]{10,11}$/
            let phoneChkMsg = $('.phoneChk_msg');


            if(!phonePattern.test(phone)){
                phoneChkMsg.html("전화번호는 10~11 길이의 숫자로 입력해주세요.");
                return false;
            } else {
                phoneChkMsg.css("display", "none");
            }
            return true;
        };
    </script>
</head>

<body>
<div th:replace="fragments/nav :: nav">
</div>
<div class="login-form">
    <h1>마이페이지</h1>
    <form th:object="${memberDTO}" method="post">
        <div>
            아이디<input th:field="*{mem_id}"  name="mem_id" id="mem_id" readonly></input>
        </div><br>
        <div>
            비밀번호<br>
            <input type="password" th:value="${mem_pwd}" id="mem_pwd"  >
        </div><br>
        <div>
            비밀번호 확인<br>
            <input type="password"  th:value="${mem_pwd}" name="mem_pwd" id="mem_pwd_check" oninput="checkPwd()" >
            <span class="pwdCorrectChk_msg"></span>
        </div>
        <div>
            이름<p type="text" th:text="*{mem_name}" name="mem_name" readonly>

        </div><br>
        <div>
            핸드폰번호<br>
            <input th:field="*{mem_phone}" name="mem_phone" id="mem_phone"></input>
            <span class="phoneChk_msg"></span>
        </div><br>
        <div>
            생년월일<br>
            <p th:text="${#dates.format(memberDTO.mem_birth, 'yyyy-MM-dd')}" name="mem_birth" id="mem_birth"></p>
            <span class="birthChk_msg"></span>
        </div><br>
        <button onclick="return check()">회원수정</button>
    </form>
</div>