<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Booking - Multipurpose Online Booking Theme">
    <!-- 여기에 공통 적용할 css 및 js 등등 입력하면 됩니다-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        function check(){
            //생년월일 정규식 체크
            let birth = $('#mem_birth').val();
            let birthPattern = /^(19[0-9][0-9]|20\d{2})-(0[0-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/
            let birthChkMsg = $('.birthChk_msg');


            let phone = $('#mem_phone').val();
            let phonePattern = /^[0-9]{10,11}$/
            let phoneChkMsg = $('.phoneChk_msg');


            if(!phonePattern.test(phone)){
                phoneChkMsg.html("전화번호는 10~11 길이의 숫자로 입력해주세요.");
                return false;
            } else {
                phoneChkMsg.css("display", "none");
            }

            if(!birthPattern.test(birth)){
                birthChkMsg.html("생년월일을 형식에 맞게 입력해주세요. ex) 1900-01-01");
                return false;
            } else {
                birthChkMsg.css("display", "none");
            }

            return true;
        };
    </script>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/bootstrap/images/favicon.ico">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/vendor/bootstrap-icons/bootstrap-icons.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/style.css">
</head>

<body>
<!-- **************** MAIN CONTENT START **************** -->
<main>
    <!-- =======================
Main Content START -->
    <section class="vh-xxl-100">
        <div class="container h-100 d-flex px-0 px-sm-4">
            <div class="row justify-content-center align-items-center m-auto">
                <div class="col-12">
                    <div class="bg-mode shadow rounded-3 overflow-hidden">
                        <div class="row g-0">
                            <!-- Vector Image -->
                            <div class="col-lg-6 d-md-flex align-items-center order-2 order-lg-1">
                                <div class="p-3 p-lg-5">
                                    <img src="/bootstrap/images/element/signin.svg" alt="">
                                </div>
                                <!-- Divider -->
                                <div class="vr opacity-1 d-none d-lg-block"></div>
                            </div>
                            <!-- Information -->
                            <div class="col-lg-6 order-1">
                                <div class="p-4 p-sm-6">
                                    <!-- Logo -->
                                    <a href="index.html">
                                        <img class="h-50px mb-4" src="/bootstrap/images/logo-icon.svg" alt="logo">
                                    </a>
                                    <!-- Title -->
                                    <h1 class="mb-2 h3">회원 가입</h1>
                                    <!-- Form START -->
                                    <form class="mt-4 text-start" th:object="${memberDTO}" method="post">
                                        <!-- Email -->
                                        <div class="mb-3">
                                            <label class="form-label">아이디</label>
                                            <input type="email" class="form-control" th:placeholder="${session.socialEmail}" th:value="${session.socialEmail}" name="mem_id" id="mem_id" readonly>
                                        </div>
                                        <!-- Password -->
                                        <div class="mb-3 position-relative">
                                            <label class="form-label">비밀번호</label>
                                            <input class="form-control fakepassword" type="password" th:placeholder="${session.socialPwd}" th:value="${session.socialPwd}" name="mem_pwd" id="mem_pwd" readonly>
                                            <span class="position-absolute top-50 end-0 translate-middle-y p-0 mt-3">
											<i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2"></i>
										</span>
                                        </div>
                                        <!-- Name -->
                                        <div class="mb-3">
                                            <label class="form-label">이름</label>
                                            <input type="text" class="form-control" th:placeholder="${session.socialName}"  th:value="${session.socialName}" name="mem_name" id="mem_name" readonly>
                                        </div>
                                        <!-- Phone Number -->
                                        <div class="mb-3">
                                            <label class="form-label">핸드폰번호</label>
                                            <input th:field="*{mem_phone}" id="mem_phone" class="form-control">
                                            <span class="phoneChk_msg" style="color: #b02a37"></span>
                                        </div>
                                        <!-- Birth -->
                                        <div class="mb-3">
                                            <label class="form-label">생년월일</label>
                                            <input th:field="*{mem_birth}" id="mem_birth" class="form-control">
                                            <span class="birthChk_msg" style="color: #b02a37"></span>
                                        </div>
                                        <!-- Gender -->
                                        <div class="mb-3">
                                                성별
                                                 <label><input type="radio" checked="checked" name="mem_gender" value="남"/>남</label>
                                                <label><input type="radio" name="mem_gender" value="여"/>녀</label>
                                        </div>
                                        <!-- Button -->
                                        <div><button type="submit" class="btn btn-primary w-100 mb-0" onclick="return check()">회원 가입</button></div>
                                        <!-- Copyright -->
                                        <div class="text-primary-hover mt-3 text-center"> Copyrights ©2023 Booking. Build by <a href="https://www.webestica.com/">Webestica</a>. </div>
                                    </form>
                                    <!-- Form END -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Main Content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="/bootstrap/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- ThemeFunctions -->
<script src="/bootstrap/js/functions.js"></script>

</body>
</html>
