<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        function getUserId() {

            $.ajax({
                url: "/login/test",
                type: 'post',
                contentType: 'application/json',
                data :  { "accessToken" : accessToken } ,
                success:  function (data){
                    alert(data.mem_id)

                }

            })
        }
    </script>
</head>
<body>
<button onclick="getUserId()"> 정보보기 </button>
<div>
    <p>어서오세요</p>
    <p id=user-id></p><p>님</p>
</div>

</body>
</html>