<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/script :: script">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>

<body>
<div th:replace="fragments/nav :: nav">
</div>

<div class="center view-size">
    <div>
        <h1>예약 정보 및 결제</h1>
        <hr>
    </div>
    <div>
        <!--일정확인-->
        <span>항공여정</span>
        <table>
            <thead>
                <tr>
                    <td>여정</td>
                    <td>항공편</td>
                    <td>출발일시</td>
                    <td>도착일시</td>
                    <td>탑승자</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:utext="${outDTO.getAr_from()}+
                            '<img src='+'/imgs/air/icon/airplane.png'+'>'+${outDTO.getAr_to()}"/>
                    <td th:utext="'<img src='+${outDTO.airlineDTO.al_logo_uri}+'/'+${outDTO.airlineDTO.al_logo_name}+'>'
                +${outDTO.airlineDTO.al_name}+' '+${outDTO.ar_fl_no}+'편'" />
                    <td th:text="${outDTO.ar_from_date}"/>
                    <td th:text="${outDTO.ar_to_date}"/>
                    <td th:text="${resDTO.arp_count}+' 인'"/>
                </tr>
            </tbody>
        </table>
    </div> <!--일정확인 끝-->
    <div>
        <!--결제 전 확인사항-->
        <h3>결제 전 확인사항</h3>
        <p>결제금액에 포함된 발권대행수수료는 항공권과 별도로 결제되며, 예약 당일 이후 취소 시 환불되지 않습니다.</p>
        <p>결제 완료 후 정상 예약이 되지 않는 경우가 있습니다. 마이페이지에서 예약내역을 꼭 확인해주세요.</p>
        <p style="color: red;">결제 완료 후에는 결제수단 변경이 불가합니다.</p>
    </div>
    <div>
        <h3>결제하기</h3>
        <table>
            <thead>
                <tr>
                    <td>결제 금액(1인)</td>
                    <td>총 결제금액</td>
                </tr>
                <tr>
                    <td th:text="${outDTO.ar_price}+' 원'"/>
                    <td th:text="${resDTO.getArp_price()}+' 원'"/>
                </tr>
            </thead>
        </table>
        <button type="submit">결제하기</button>
    </div>
</div>

<div th:replace="fragments/footer :: footer">
</div>

</body>


</html>

