<!DOCTYPE html>
<html lang="en">
<div id="airOneWayList">
<head>
  <meta charset="UTF-8">
  <title>::: Go Travel :::</title>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Webestica.com">
  <meta name="description" content="Booking - Multipurpose Online Booking Theme">
  <!-- Favicon -->
  <link rel="shortcut icon" href="/bootstrap/images/favicon.ico">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

  <!-- Plugins CSS -->
  <link rel="stylesheet" type="text/css" href="/bootstrap/vendor/font-awesome/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/vendor/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/vendor/flatpickr/css/flatpickr.min.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/vendor/choices/css/choices.min.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/vendor/nouislider/nouislider.css">

  <!-- Theme CSS -->
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/style.css">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>

<body>
<div th:replace="fragments/nav :: nav">
</div>

<!-- **************** MAIN CONTENT START **************** -->
<main>

  <!-- =======================
  Search START -->
  <section class="pt-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Booking from START -->
          <form th:action="@{/air/search}" method="post" id="searchForm" class="bg-mode border rounded position-relative px-4 pt-4 mb-4 mb-sm-0">
            <div class="row g-4">
              <!-- Nav tabs START -->
              <div class="col-lg-6">
                <ul class="nav nav-pills nav-pills-dark" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link rounded-start rounded-0 mb-0 active" id="pills-one-way-tab" data-bs-toggle="pill" data-bs-target="#pills-one-way" type="button" role="tab" aria-selected="true">One Way</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link rounded-end rounded-0 mb-0" id="pills-round-trip-tab" data-bs-toggle="pill" data-bs-target="#pills-round-trip" type="button" role="tab" aria-selected="false">Round Trip</button>
                  </li>
                </ul>
              </div>
              <!-- Nav tabs END -->

              <!-- Ticket class -->
              <div class="col-lg-3 ms-auto">
                <div class="form-control-bg-light form-fs-md">
                  <select class="form-select js-choice" th:field="${sch.airGrade}" name="airGrade">
                    <option value="">Select Class</option>
                    <option th:value="A01">Economy</option>
                    <option th:value="A02">Business</option>
                  </select>
                </div>
              </div>

              <!-- Ticket Passenger -->
              <div class="col-lg-3 ms-auto">
                <div class="form-control-bg-light form-fs-md">
                  <select class="form-select js-choice" th:field="${sch.ea}" name="ea">
                    <option value="">Select Travelers</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
              </div>
            </div>

            <!-- Tab content START -->
            <div class="tab-content mt-4" id="pills-tabContent">
              <!-- One way tab START -->
              <div class="tab-pane fade show active" id="pills-one-way" role="tabpanel" aria-labelledby="pills-one-way-tab">
                <div class="row g-4">
                  <!-- Leaving From -->
                  <div class="col-md-6 col-lg-4 position-relative">
                    <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                      <!-- Input field -->
                      <label class="mb-1"><i class="bi bi-geo-alt me-2"></i>From</label>
                      <select class="form-select js-choice" data-search-enabled="true" th:field="*{sch.oneFrom}"name="oneFrom">
                        <option value="">Select location</option>
                        <option  th:each="list : ${airport}" th:value="${list.ap_code}"
                                 th:text="${list.ap_name}"></option>
                      </select>
                    </div>

                    <!-- Auto fill button -->
                    <div class="btn-flip-icon mt-3 mt-md-0">
                      <button class="btn btn-white shadow btn-round mb-0"><i class="fa-solid fa-right-left"></i></button>
                    </div>
                  </div>

                  <!-- Going To -->
                  <div class="col-md-6 col-lg-4">
                    <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                      <!-- Input field -->
                      <label class="mb-1"><i class="bi bi-send me-2"></i>To</label>
                      <select class="form-select js-choice" data-search-enabled="true" th:field="*{sch.oneTo}" name="oneTo">
                        <option value="">Select location</option>
                        <option  th:each="list : ${airport}" th:value="${list.ap_code}"
                                 th:utext="${list.ap_name}"></option>
                      </select>
                    </div>
                  </div>

                  <!-- Departure -->
                  <div class="col-lg-4">
                    <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                      <label class="mb-1"><i class="bi bi-calendar me-2"></i>Departure</label>
                      <input type="text" class="form-control flatpickr" data-date-format="Ymd" placeholder="Select date" th:field="*{sch.oneFromDate}">
                    </div>

                  </div>

                  <div class="col-12 text-end pt-0">
                    <button type="submit"  class="btn btn-primary mb-n4" >Find ticket <i class="bi bi-arrow-right ps-3"></i></button>
                  </div>
                </div>
              </div>
              <!-- One way tab END -->

              <!-- Round way tab END -->
              <div class="tab-pane fade" id="pills-round-trip" role="tabpanel" aria-labelledby="pills-round-trip-tab">
                <div class="row g-4">

                  <!-- Leaving From -->
                  <div class="col-md-6 col-xl-3 position-relative">
                    <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                      <!-- Input field -->
                      <label class="mb-1"><i class="bi bi-geo-alt me-2"></i>From</label>
                      <select class="form-select js-choice" data-search-enabled="true" name="roundFrom">
                        <option value="">Select location</option>
                        <option  th:each="list : ${airport}" th:value="${list.ap_code}"
                                 th:text="${list.ap_name}"></option>
                      </select>
                    </div>

                    <!-- Auto fill button -->
                    <div class="btn-flip-icon mt-3 mt-md-0">
                      <button class="btn btn-white shadow btn-round mb-0"><i class="fa-solid fa-right-left"></i></button>
                    </div>
                  </div>

                  <!-- Going To -->
                  <div class="col-md-6 col-xl-3">
                    <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                      <!-- Input field -->
                      <label class="mb-1"><i class="bi bi-send me-2"></i>To</label>
                      <select class="form-select js-choice" data-search-enabled="true" name="roundTo">
                        <option value="">Select location</option>
                        <option  th:each="list : ${airport}" th:value="${list.ap_code}"
                                 th:text="${list.ap_name}"></option>
                      </select>
                    </div>
                  </div>

                  <!-- Departure -->
                  <div class="col-md-6 col-xl-3">
                    <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                      <label class="mb-1"><i class="bi bi-calendar me-2"></i>Departure</label>
                      <input type="text" class="form-control flatpickr" data-date-format="Ymd" placeholder="Select date" th:field="*{sch.roundFromDate}">
                    </div>
                  </div>

                  <!-- Return -->
                  <div class="col-md-6 col-xl-3">
                    <div class="form-border-transparent form-fs-lg bg-light rounded-3 h-100 p-3">
                      <label class="mb-1"><i class="bi bi-calendar me-2"></i>Return</label>
                      <input type="text" class="form-control flatpickr" data-date-format="Ymd" placeholder="Select date" th:field="*{sch.roundToDate}">
                    </div>
                  </div>

                  <div class="col-12 text-end pt-0">
                    <button type="submit"  class="btn btn-primary mb-n4" >Find ticket <i class="bi bi-arrow-right ps-3"></i></button>
                  </div>
                </div>
              </div>
              <!-- Round way tab END -->
            </div>
            <!-- Tab content END -->
          </form>
          <!-- Booking from END -->
        </div>
      </div>
    </div>
  </section>
  <!-- =======================
  Search START -->



  <!-- =======================
  Flight list START -->
  <section class="pt-0">
    <div class="container">
      <div class="row">

        <!-- Left sidebar START -->
        <aside class="col-xl-4 col-xxl-2">

          <form th:action="@{/air/sort-oneway}" method="post" th:object="${sch}"class="rounded-3">
            <!-- Hidden input fields -->
            <input type="hidden" th:field="*{oneFrom}">
            <input type="hidden" th:field="*{oneTo}">
            <input type="hidden" th:field="*{ea}">
            <input type="hidden" th:field="*{oneFromDate}">
            <input type="hidden" th:field="*{airGrade}">

            <!-- Sort select box -->
            <div class="card card-body rounded-0 rounded-top py-1">
              <select class="form-select js-choice" id="sort" name="sortValue">

                <option>선택정렬</option>
                <option value="priceAsc">낮은가격순</option>
                <option value="priceDesc">높은가격순</option>
                <option value="earlyDeparture">출발빠른순</option>
                <option value="lateDeparture">출발늦은순</option>
              </select>
            </div>
          </form>
        </aside>
        <!-- Left sidebar END -->

        <!-- Main content START -->
        <div class="col-xl-8 col-xxl-10">
          <form th:action="@{/air/res-check}" method="post">
          <div class="vstack gap-4">

            <!-- Ticket item START -->
            <div th:each="list : ${airOneWay.list}" class="card border" id="airOneWaySchList">
              <!-- Card header -->
              <div class="card-header d-sm-flex justify-content-sm-between align-items-center">
                <!-- Airline Name -->
                <div class="d-flex align-items-center mb-2 mb-sm-0">
                  <img th:src="@{${list.airlineDTO.al_logo_uri}}+'/'+ ${list.airlineDTO.al_logo_name}"  class="w-30px me-2" alt="">
                  <h6 class="fw-normal mb-0" th:text="${list.airlineDTO.al_name}"/>
                </div>
                <h6 class="fw-normal mb-0"><span class="text-body">항공권 등급:</span>[[${list.airGradeOptionDTO.agop_name}]]</h6>
              </div>

              <!-- Card body -->
              <div class="card-body p-4 pb-0">
                <!-- Ticket item START -->
                <div class="row g-4">

                  <div class="form-check form-floating col-1 align-items-baseline" style="top:20px; left:20px;">
                    <input class="form-check-input" type="checkbox" name="air_oneway_check" onclick="checkFromOnlyOne(this)" th:value="${list.ano}">
                  </div>
                  <!-- Airport detail -->
                  <div class="col-sm-4 col-md-3 text-center">
                    <h4 th:text="${#temporals.format(list.ar_from_date, 'HH:mm')}"/>
                    <p class="mb-0" th:text="${list.ar_from}"/>
                  </div>

                  <!-- Time -->
                  <div class="col-sm-4 col-md-2 my-sm-auto text-center">
                    <!-- Time -->
                    <h5 th:text="${list.ar_time + '분'}"/>
                    <div class="position-relative my-4">
                      <!-- Line -->
                      <hr class="bg-primary opacity-5 position-relative">
                      <!-- Icon -->
                      <div class="icon-md bg-primary text-white rounded-circle position-absolute top-50 start-50 translate-middle">
                        <i class="fa-solid fa-fw fa-plane rtl-flip"></i>
                      </div>
                    </div>
                  </div>

                  <!-- Airport detail -->
                  <div class="col-sm-4 col-md-3 text-center">
                    <h4 th:text="${#temporals.format(list.ar_to_date, 'HH:mm')}"/>
                    <p class="mb-0" th:text="${list.ar_to}"/>
                  </div>

                  <!-- Price -->
                  <div class="col-md-3 text-md-end">
                    <h4 th:text="${#numbers.formatInteger(list.ar_price * sch.ea, 3, 'COMMA') + '원'}"/>
                  </div>
                </div>
                <!-- Ticket item END -->
              </div>

              <!-- Card footer -->
              <div class="card-footer pt-4">
                <ul class="list-inline bg-light rounded-2 d-sm-flex text-center justify-content-sm-between mb-0 px-4 py-2">
                  <li class="list-inline-item text-danger" th:text="${list.ar_res_cnt+'석 남았습니다!!'}"/>
                  <li class="list-inline-item text-danger">Non-Refundable</li>
                </ul>
              </div>
            </div>
            <!-- Ticket item END -->


            <!-- Pagination START -->
            <nav class="pagingFrom d-flex justify-content-center" aria-label="navigation">
              <!--항공권 페이징-->
            </nav>
            <!-- Pagination END -->
            <div class="d-flex p-xl-1 mt-xl-1 mx-xl-2 justify-content-lg-end">
              <input type="submit" class="btn btn-primary px-lg-3" value="예약하기"/>
            </div>

              <input type="hidden" th:value="${fromAP}" name="air_from"/>
              <input type="hidden" th:value="${toAP}" name="air_to"/>
              <input type="hidden" th:value="${sch.ea}" name="ea" />
          </div>
          </form>
        </div>
        <!-- Main content END -->
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
  Flight list END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<br>
<br>
<div th:replace="fragments/footer :: footer">
</div>

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="/bootstrap/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="/bootstrap/vendor/flatpickr/js/flatpickr.min.js"></script>
<script src="/bootstrap/vendor/choices/js/choices.min.js"></script>
<script src="/bootstrap/vendor/nouislider/nouislider.min.js"></script>

<!-- ThemeFunctions -->
<script src="/bootstrap/js/functions.js"></script>


<script>

  //체크박스 하나만 선택

  function checkFromOnlyOne(element) {

    const checkboxes
            = document.getElementsByName("air_oneway_check");
    checkboxes.forEach((cb) => {
      cb.checked = false;
    })
    element.checked = true;
  }


</script>

</body>
</div>

<script th:inline="javascript">
  const pagination = [[ ${airOneWay.pagination} ]];
  const params = [[ ${sch} ]];
</script>

<script th:inline="javascript">
  $(document).ready(function() {
    drawPage(pagination, params);

    $('#sort').change(function() {
      let sortValue = $(this).val();
      $.ajax({
        type: "POST",
        url: "/air/sort-oneway",
        data: {
          oneFrom: $('#oneFrom').val(),
          oneTo: $('#oneTo').val(),
          ea: $('#ea').val(),
          oneFromDate: $('#oneFromDate').val(),
          airGrade: $('#airGrade').val(),
          sortValue: sortValue
        },
        dataType: "html",
        success: function(result) {
          $('#airOneWayList').html(result);
          // 정렬 결과를 받아온 후 페이징을 다시 그림
          const pagination = [[ ${airOneWay.pagination} ]];
          const params = [[ ${sch} ]];
          drawPage(pagination, params);
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(textStatus, errorThrown);
        }
      });
    });

    // 페이지 HTML draw
    function drawPage(pagination, params) {
      if ( !pagination || !params ) {
        throw new Error('Missing required parameters...');
      }

      let html = '';

      // 첫 페이지, 이전 페이지
      if (pagination.existPrevPage) {
        html += `
          <li class="page-item mb-0"><a class="page-link" href="javascript:void(0);" onclick="movePage(${pagination.startPage - 1})"><i class="fa-solid fa-angle-left"></i></a></li>
        `;
      }

      // 페이지 번호
      html += `<nav class="d-flex justify-content-center" aria-label="navigation">
                <ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">`;
      for (let i = pagination.startPage; i <= pagination.endPage; i++) {
        if (pagination.endPage > pagination.totalPageCount) {
          pagination.endPage = pagination.totalPageCount;
        }
        html += (i !== params.pageNum)
                ? `<li class="page-item mb-0"><a class="page-link" href="javascript:void(0);" onclick="movePage(${i});">${i}</a></li>`
                : `<span class="page-item mb-0 page-link on">&nbsp;${i}&nbsp;</span>`
      }
      html += `</ul>
              </nav>`;

      // 다음 페이지, 마지막 페이지
      if (pagination.existNextPage) {
        html += `
          <li class="page-item mb-0"><a class="page-link" href="javascript:void(0);" onclick="movePage(${pagination.endPage + 1});" class="page_bt next"><i class="fa-solid fa-angle-right"></i></a></li>
        `;
      }

      document.querySelector('.pagingFrom').innerHTML = html;
    }

    // 페이지 이동
    function movePage(pageNum) {
      const queryParams = {
        pageNum: (pageNum) ? pageNum : 1,
        amount: 5,
        pageSize: 5
      }
      location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
    };
  });
</script>

<!--<script th:inline="javascript">-->

<!--  window.onload = () => {-->
<!--    drawPage(pagination, params);-->
<!--  }-->

<!--  const pagination = [[ ${airOneWay.pagination} ]];-->
<!--  const params = [[ ${sch} ]];-->

 <!--  // 페이지 HTML draw-->
<!--  function drawPage(pagination, params) {-->

<!--    if ( !pagination || !params ) {-->
<!--      if(pagination == pagination) {-->
<!--        document.querySelector('.pagingFrom').innerHTML = html;-->
<!--      }-->
<!--      throw new Error('Missing required parameters...');-->
<!--    }-->

<!--    let html = '';-->

 <!--    // 첫 페이지, 이전 페이지-->
 <!--    if (pagination.existPrevPage) {-->
 <!--      html += `-->
 <!--            <li class="page-item mb-0"><a class="page-link" href="javascript:void(0);" onclick="movePage(${pagination.startPage - 1})">i class="fa-solid fa-angle-left"></i></a></li>-->
 <!--          `;-->
 <!--    }-->

 <!--    // 페이지 번호-->
 <!--    html += `<nav class="d-flex justify-content-center" aria-label="navigation">-->
<!--              <ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">`;-->
<!--    for (let i = pagination.startPage; i <= pagination.endPage; i++) {-->
<!--      if (pagination.endPage > pagination.totalPageCount) {-->
<!--        pagination.endPage = pagination.totalPageCount;-->
<!--      }-->
<!--      html += (i !== params.pageNum)-->
 <!--              ? `<li class="page-item mb-0"><a class="page-link" href="javascript:void(0);" onclick="movePage(${i});">${i}</a></li>`-->
 <!--              : `<span class="page-item mb-0 page-link on">&nbsp;${i}&nbsp;</span>`-->
 <!--    }-->
 <!--    html += `</ul>-->
 <!--            </nav>`;-->

 <!--    // 다음 페이지, 마지막 페이지-->
<!--    if (pagination.existNextPage) {-->
<!--      html += `-->
 <!--            <li class="page-item mb-0"><a class="page-link" href="javascript:void(0);" onclick="movePage(${pagination.endPage + 1});" class="page_bt next"><i class="fa-solid fa-angle-right"></i></a></li>-->
 <!--          `;-->
<!--    }-->
<!--    if(pagination == pagination) {-->
<!--      document.querySelector('.pagingFrom').innerHTML = html;-->
<!--    }-->
<!--  }-->


 <!--  // 페이지 이동-->
<!--  function movePage(pageNum) {-->
<!--    const queryParams = {-->
<!--      pageNum: (pageNum) ? pageNum : 1,-->
<!--      amount: 5,-->
<!--      pageSize: 5-->
<!--    }-->
<!--    location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();-->
<!--  }-->

<!--<script>-->
<!--  $(document).ready(function() {-->
<!--    $('#sort').change(function() {-->
<!--      let sortValue = $(this).val();-->
<!--      $.ajax({-->
<!--        type: "POST",-->
<!--        url: "/air/sort-oneway",-->
<!--        data: {-->
<!--          oneFrom: $('#oneFrom').val(),-->
<!--          oneTo: $('#oneTo').val(),-->
<!--          ea: $('#ea').val(),-->
<!--          oneFromDate: $('#oneFromDate').val(),-->
<!--          airGrade: $('#airGrade').val(),-->
<!--          sortValue: sortValue-->
<!--        },-->
<!--        dataType: "html", // 이 부분 추가-->
<!--        success: function(result) {-->
<!--          $('#airOneWayList').html(result);-->
<!--        },-->
<!--        error: function(jqXHR, textStatus, errorThrown) {-->
<!--          console.log(textStatus, errorThrown);-->
<!--        }-->
<!--      });-->

<!--    });-->
<!--  });-->

<!--</script>-->


  </html>