<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/script :: script">
  <link rel="stylesheet" href="/css/air/air-list.css">
</head>

<body>
<div th:replace="fragments/nav :: nav">
</div>

<div class="center view-size">
  <!--메인영역-->
  <div>
    <!--항공권 검색-->
    <form th:action="@{/air/search}" method="post" >
      <ul>
        <li>
          <label>가는날</label>
          <input type="date" th:name="fromDate" th:value="${sch.fromDate}"/>
        </li>
        <li>
          <label>오는날</label>
          <input type="date" th:name="toDate" th:value="${sch.toDate}"/>
        </li>
        <li>
          <label>출발지 선택</label>
          <select th:field="*{sch.from}">
            <option value="">출발지 선택</option>
            <option  th:each="list : ${airport}" th:value="${list.ap_code}"
                     th:utext="${list.ap_name}"></option>
          </select>
        </li>
        <li>
          <label>도착지 선택</label>
          <select th:field="*{sch.to}">
            <option value="">도착지 선택</option>
            <option  th:each="list : ${airport}" th:value="${list.ap_code}"
                     th:utext="${list.ap_name}"></option>
          </select>
        </li>
        <li>
          <label>인원</label>
          <input type="number" th:name="ea" th:value="${sch.ea}">
        </li>
        <li>
          <label>좌석등급</label>
          <label>이코노미</label>
          <input type="radio" th:value="A01" th:field="${sch.airGrade}">
          <label>비즈니스</label>
          <input type="radio" th:value="A02" th:field="${sch.airGrade}">
        </li>
      </ul>
      <input type="submit" value="검색">
    </form>
  </div>  <!--항공권 검색 끝-->

  <div>
    <!--항공권 상품목록-->
    <form th:action="@{/air/res-check}" method="post" >
      <div>
        <!--가는 항공편-->
        <div>
          <!--리스트 타이틀-->
          <p>가는 항공편</p>
          <div class="flex">
            <p th:utext="${fromAP}"/>
            <img src="/imgs/air/icon/airplane.png">
            <p th:utext="${toAP}"/>
          </div>
          <p th:text="${'총 '+ airFrom.pagination.totalRecordCount + ' 건'}"/>
        </div> <!--리스트 타이틀 끝-->
        <div>
          <!--가는 항공편 리스트 테이블-->
          <table class="center view-size">
            <thead>
            <tr>
              <td></td>
              <td></td>
              <td>항공사</td>
              <td>편명</td>
              <td>출발날짜</td>
              <td>도착날짜</td>
              <td>소요시간</td>
              <td>좌석등급</td>
              <td>금액</td>
              <td>남은수량</td>
            </tr>
            </thead>
            <tr th:each="list : ${airFrom.list}">
              <td>
                <input type="checkbox" name="air_from_check" onclick="checkFromOnlyOne(this)"
                       th:value="${list.ano}"  >
              </td>
              <td>
                <img style="width: 32px;" th:src="@{${list.airlineDTO.al_logo_uri}}+'/'+ ${list.airlineDTO.al_logo_name}">
              </td>
              <td>[[${list.airlineDTO.al_name}]]</td>
              <td>[[${list.ar_fl_no}]]</td>
              <td th:text="${#temporals.format(list.ar_from_date, 'yy-MM-dd HH:mm')}"></td>
              <td th:text="${#temporals.format(list.ar_to_date, 'yy-MM-dd HH:mm')}"></td>
              <td th:text="${list.ar_time + '분'}"></td>
              <td>[[${list.airGradeOptionDTO.agop_name}]]</td>
              <td th:text="${#numbers.formatInteger(list.ar_price * sch.ea, 3, 'COMMA') + '원'}"></td>
              <td>잔여 [[${list.ar_res_cnt}]] 석 남음</td>
            </tr>
          </table>
        </div> <!--가는 항공편 리스트 테이블 끝-->
        <div class="paging pagingFrom flex center">
          <!--가는 항공권 페이징-->
        </div>
      </div>  <!--가는 항공편 끝-->

      <div>
        <!-오는 항공편--->
        <div>
          <!--리스트 타이틀-->
          <p>오는 항공편</p>
          <div class="flex">
            <p th:utext="${toAP}"/>
            <img src="/imgs/air/icon/airplane.png">
            <p th:utext="${fromAP}"/>
          </div>
          <p th:text="${'총 '+ airTo.pagination.totalRecordCount + ' 건'}"/>
        </div> <!--리스트 타이틀 끝-->
        <div>
          <!--오는 항공편 리스트 테이블-->
          <table class="center view-size">
            <thead>
            <tr>
              <td></td>
              <td></td>
              <td>항공사</td>
              <td>편명</td>
              <td>출발날짜</td>
              <td>도착날짜</td>
              <td>소요시간</td>
              <td>좌석등급</td>
              <td>금액</td>
              <td>남은수량</td>
            </tr>
            </thead>
            <tr th:each="list : ${airTo.list}">
              <td>
                <input type="checkbox" name="air_to_check" onclick="checkToOnlyOne(this)"
                       th:value="${list.ano}" >
              </td>
              <td class="al-logo">
                <img style="width: 32px;"  th:src="@{${list.airlineDTO.al_logo_uri}}+'/'+ ${list.airlineDTO.al_logo_name}">
              </td>
              <td>[[${list.airlineDTO.al_name}]]</td>
              <td>[[${list.ar_fl_no}]]</td>
              <td th:text="${#temporals.format(list.ar_from_date, 'yy-MM-dd HH:mm')}"></td>
              <td th:text="${#temporals.format(list.ar_to_date, 'yy-MM-dd HH:mm')}"></td>
              <td th:text="${list.ar_time + '분'}"></td>
              <td>[[${list.airGradeOptionDTO.agop_name}]]</td>
              <td th:text="${#numbers.formatInteger(list.ar_price * sch.ea, 3, 'COMMA') + '원'}"></td>
              <td>잔여 [[${list.ar_res_cnt}]] 석 남음</td>
              <td></td>
            </tr>
          </table>
        </div><!--오는 항공편 리스트 테이블 -->
        <div class="paging pagingTo flex center">
          <!--오는 항공권 페이징-->
        </div>
      </div> <!-오는 항공편 끝--->
      <div>
        <!--예약하기 버튼-->
        <input type="hidden" th:value="${fromAP}" name="air_from"/>
        <input type="hidden" th:value="${toAP}" name="air_to"/>
        <input type="hidden" th:value="${sch.ea}" name="ea" />
        <input type="submit" />
      </div>

    </form>
  </div>

</div>



</div>


<div th:replace="fragments/footer :: footer">
</div>

</div>
</body>

<script th:inline="javascript">

  window.onload = () => {
    drawPage(pagination1, params);
    drawPage(pagination2, params);
  }

  const pagination1 = [[ ${airFrom.pagination} ]];
  const pagination2 = [[ ${airTo.pagination} ]];
  const params = [[ ${sch} ]];

  // 페이지 HTML draw
  function drawPage(pagination, params) {

    if ( !pagination || !params ) {
      if(pagination == pagination1) {
        document.querySelector('.pagingFrom').innerHTML = html;
      } else  if (pagination == pagination2) {
        document.querySelector('.pagingTo').innerHTML = html;
      }
      throw new Error('Missing required parameters...');
    }

    let html = '';

    // 첫 페이지, 이전 페이지
    if (pagination.existPrevPage) {
      html += `
            <a href="javascript:void(0);" onclick="movePage(1)">&lt;&lt;&nbsp;</a>
            <a href="javascript:void(0);" onclick="movePage(${pagination.startPage - 1})" class="page_bt prev">&lt;&nbsp;</a>
        `;
    }

    // 페이지 번호
    html += '<p>';
    for (let i = pagination.startPage; i <= pagination.endPage; i++) {
      if (pagination.endPage > pagination.totalPageCount) {
        pagination.endPage = pagination.totalPageCount;
      }
      html += (i !== params.pageNum)
              ? `<a href="javascript:void(0);" onclick="movePage(${i});">&nbsp;${i}&nbsp;</a>`
              : `<span class="on">&nbsp;${i}&nbsp;</span>`
    }
    html += '</p>';

    // 다음 페이지, 마지막 페이지
    if (pagination.existNextPage) {
      html += `
            <a href="javascript:void(0);" onclick="movePage(${pagination.endPage + 1});" class="page_bt next">&nbsp;&gt;&nbsp;</a>
            <a href="javascript:void(0);" onclick="movePage(${pagination.totalPageCount});" class="page_bt last">&gt;&gt;</a>
        `;
    }
    if(pagination == pagination1) {
      document.querySelector('.pagingFrom').innerHTML = html;
    } else  if (pagination == pagination2) {
      document.querySelector('.pagingTo').innerHTML = html;
    }
  }


  // 페이지 이동
  function movePage(pageNum) {
    const queryParams = {
      pageNum: (pageNum) ? pageNum : 1,
      amount: 10,
      pageSize: 5
    }
    location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
  }


  //체크박스 하나만 선택

  function checkFromOnlyOne(element) {

    const checkboxes
            = document.getElementsByName("air_from_check");
    checkboxes.forEach((cb) => {
      cb.checked = false;
    })
    element.checked = true;
  }

  function checkToOnlyOne(element) {

    const checkboxes
            = document.getElementsByName("air_to_check");
    checkboxes.forEach((cb) => {
      cb.checked = false;
    })
    element.checked = true;
  }
  /*]]>*/
</script>


</html>