<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="go.travel.dnh.mapper.AirReservationMapper">


    <sql id="productColumns">
        p.ano ,(select al_logo_uri from air_line al where al.al_code = p.al_code) al_logo_uri
             ,(select al_logo_name from air_line al where al.al_code = p.al_code ) al_logo_name
             ,(select al_name from air_line al where al.al_code = p.al_code ) al_name
             ,(select ap_name from airport ap1 where ap1.ap_code = p.ar_from ) ar_from
             ,(select ap_name from airport ap2 where ap2.ap_code = p.ar_to ) ar_to
             ,p.ar_fl_no ,p.ar_from_date, p.ar_to_date
             ,ar_price
    </sql>

    <insert id="insertReservation" parameterType="AirReservationDTO">
        insert into reservation2
            (rno,  mno, out_ano, in_ano, arp_price, arp_count, arp_date)
        values (#{rno}, #{mno}, #{out_ano}, #{in_ano}, #{arp_price}, #{arp_count}, now())
    </insert>

    <insert id="insertResDetail" parameterType="ReservationDetail">

        insert into ReservationDetail
            ( rno, ko_name, en_lname, en_fname, birth, gender)
        values
            (#{rno}, #{ko_name}, #{en_lname}, #{en_fname}, #{birth}, #{gender})

    </insert>


</mapper>