<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="go.travel.dnh.mapper.AirReservationMapper">


    <insert id="insertReservation" parameterType="AirReservationDTO">
        insert into reservation
            (rno,  mno, out_ano, in_ano, arp_price, arp_count, arp_date, arp_up_date)
        values (#{rno}, #{mno}, #{out_ano}, #{in_ano}, #{arp_price}, #{arp_count}, now(), now())
    </insert>

    <insert id="insertResDetail" parameterType="ReservationDetail">

        insert into reservation_detail
            ( rno, ko_name, en_lname, en_fname, birth, gender)
        values
            (#{rno}, #{ko_name}, #{en_lname}, #{en_fname}, #{birth}, #{gender})

    </insert>

</mapper>