<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="go.travel.dnh.mapper.MemberJoinMapper">
    <!--회원DB insert-->
    <insert id="insertMember" parameterType="go.travel.dnh.domain.member.MemberDTO" useGeneratedKeys="true" keyProperty="mno">
        INSERT INTO member (mem_id, mem_pwd, mem_name, mem_phone, mem_gender, mem_birth, mem_in_date, mem_up_date)
        VALUES ( #{mem_id}, #{mem_pwd}, #{mem_name}, #{mem_phone}, #{mem_gender}, #{mem_birth}, now(), now());
    </insert>

    <!--회원등급 insert-->
    <insert id="insertMemberRole" parameterType="Integer">
        insert into member_role (mno, role_in_date, role_up_date)
        values (#{mno}, now(), now());
    </insert>

    <!--아이디 기반 회원 찾기-->
    <select id="readById" parameterType="String" resultType="int">
        select count(mem_id) from member
        WHERE mem_id = #{mem_id};
    </select>

    <!--전화번호 기반 회원찾기-->
    <select id="readByPhone" parameterType="Integer" resultType="int">
        select count(mem_phone) from member
        WHERE mem_phone = #{mem_phone};
    </select>

    <!--패스워드 초기화-->
    <update id="updatePwd" parameterType="map">
        UPDATE member
        SET mem_pwd = #{mem_pwd}
        WHERE mem_id = #{mem_id};
    </update>

    <!-- 소셜로그인 회원가입시 소셜 유무 True    -->
    <insert id="insertSnsMember" parameterType="MemberDTO" useGeneratedKeys="true" keyProperty="mno" >
        INSERT INTO member (mem_id, mem_pwd, mem_name, mem_phone, mem_gender, mem_birth, mem_in_date, mem_up_date, mem_sns)
        VALUES ( #{mem_id}, #{mem_pwd}, #{mem_name}, #{mem_phone}, #{mem_gender}, #{mem_birth}, now(), now(), TRUE);
    </insert>
</mapper>