<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="go.travel.dnh.mapper.MemberAdminMapper">
    <select id="getMemberList" resultType="MemberDTO">
        select M.mno, M.mem_id, M.mem_pwd, M.mem_name, M.mem_phone, M.mem_gender, M.mem_birth, M.mem_in_date, MR.role_set
        from member M
        inner join member_role MR
        on M.mno = MR.mno
        order by M.mno
    </select>

    <delete id="deleteMember">
        delete from member where mno = #{mno}
    </delete>

</mapper>