<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="go.travel.dnh.mapper.MemberJoinMapper">
    <insert id="insertMember" parameterType="go.travel.dnh.domain.member.MemberDTO">
        INSERT INTO member (mem_id, mem_pwd, mem_name, mem_phone, mem_gender, mem_birth, mem_in_date, mem_up_date)
        VALUES ( #{mem_id}, #{mem_pwd}, #{mem_name}, #{mem_phone}, #{mem_gender}, #{mem_birth}, now(), now());
    </insert>

    <select id="findMember" parameterType="String" resultType="int">
        select count(mem_id) from member
        WHERE mem_id = #{mem_id};
    </select>

</mapper>