<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="go.travel.dnh.mapper.ReservationMapper">

    <!--예약 인서트-->
    <insert id="insertReservation" parameterType="AirReservationDTO">
        insert into reservation
        (rno,  mno, out_ano, in_ano, arp_price, arp_count, arp_date, arp_up_date)
        values (#{rno}, #{mno}, #{out_ano}, #{in_ano}, #{arp_price}, #{arp_count}, now(), now())
    </insert>

    <!--예약디테일 인서트-->
    <insert id="insertResDetail" parameterType="ReservationDetail">

        insert into reservation_detail
            ( rno, ko_name, en_lname, en_fname, birth, gender)
        values
            (#{rno}, #{ko_name}, #{en_lname}, #{en_fname}, #{birth}, #{gender})

    </insert>

    <!--예약수량 조회-->
    <select id="readCnt" parameterType="Integer" resultType="int">
        select ar_res_cnt
        from air_product
        where ano = #{ano}
    </select>

    <!--예약시 수량업데이트-->
    <update id="updateResCnt" parameterType="Integer">
        UPDATE air_product
        SET ar_res_cnt = #{ar_res_cnt}
        WHERE ano = #{ano};
    </update>

    <!--결제 및 예약상세 예약단건조회-->
    <select id="getReservation" parameterType="Long" resultType="AirReservationListDTO">
        select res.rno, res.mno, res.arp_count, res.arp_price, p.ar_from_date, p.ar_to_date,
               res.arp_state, m.mem_name, p.ar_time,p.ar_fl_no, res.in_ano, res.out_ano,
            (select ap_code_name from airport  where ap_code = p.ar_from) ar_from,
            (select ap_code_name from airport where ap_code = p.ar_to) ar_to,
            (select agop_name from air_grade_option where agop_code = p.agop_code) agop_code,
            (select al_logo_uri from air_line al where al.al_code = p.al_code) al_logo_uri,
            (select al_logo_name from air_line al where al.al_code = p.al_code ) al_logo_name,
            (select al_name from air_line al where al.al_code = p.al_code ) al_name
        from reservation res, air_product p, member m
        where p.ano = res.out_ano and res.mno = m.mno and rno = #{rno};
    </select>

    <!--결제 및 예약상세 예약단건조회(왕복)-->
    <select id="getReservationRound" parameterType="Long" resultType="AirReservationListDTO">
        select p.ar_from_date, p.ar_to_date,
               p.ar_time, p.ar_fl_no, res.in_ano,
               (select ap_code_name from airport  where ap_code = p.ar_from) ar_from,
               (select ap_code_name from airport where ap_code = p.ar_to) ar_to,
               (select agop_name from air_grade_option where agop_code = p.agop_code) agop_code,
               (select al_logo_uri from air_line al where al.al_code = p.al_code) al_logo_uri,
               (select al_logo_name from air_line al where al.al_code = p.al_code ) al_logo_name,
               (select al_name from air_line al where al.al_code = p.al_code ) al_name
        from reservation res, air_product p, member m
        where p.ano = res.in_ano and res.mno = m.mno and rno = #{rno};
    </select>

    <!--결제창 이용자 세부조회-->
    <select id="getReservationDetail" parameterType="Long" resultType="AirReservationListDTO">
        select resdt.ko_name, resdt.en_lname, resdt.en_fname, resdt.birth, resdt.gender
        from reservation res, reservation_detail resdt
        where resdt.rno = res.rno and res.rno = #{rno};
    </select>

    <!--전체 예약목록 조회(회원간)-->
    <select id="readList" resultType="AirReservationDTO" parameterType="int">
        select rno, arp_price, arp_count, arp_date, arp_state
        from reservation
        where mno = #{mno};
    </select>

    <!--마이페이지 개인 예약내역-->
    <select id="selectMyRes" resultType="AirReservationListDTO" parameterType="int">
        select
                (select ap_code_name from airport  where ap_code = p.ar_from) ar_from,
                (select ap_code_name from airport where ap_code = p.ar_to) ar_to,
                (select agop_name from air_grade_option where agop_code = p.agop_code) agop_code,
                p.ar_from_date, p.ar_to_date, res.rno, res.arp_state,  res.in_ano
        from air_product p, reservation res
        where p.ano = res.out_ano and mno = #{mno}
        order by p.ar_from_date desc
    </select>

    <!--결제완료 시 예약테이블 상태 변경-->
    <update id="update" parameterType="Long">
        UPDATE reservation
        SET arp_state = '결제 완료',arp_up_date = now()
        WHERE rno = #{rno};
    </update>

    <!--결제취소 시 예약테이블 상태 변경-->
    <update id="updateRefund" parameterType="Long">
        UPDATE reservation
        SET arp_state = '예약 취소',arp_up_date = now()
        WHERE rno = #{rno};
    </update>

</mapper>